body{
    margin: 0px;
    padding: 0px;
}
.content{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.contentSide{
    width: 50vw;
    height: 100%;
    text-align: center;
    position: relative;
}
.contentLeft{
    border-right: solid 2px black;
}
.contentRight{
    border-left: solid 2px black;
}
.numbersContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32vw;
    height: 12vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}
.numbersContainerRow{
    display: flex;
    justify-content: space-between;
}
.number{
    width: 5vw;
    height: 5vw;
    background-color: #E9EB87;
    border-radius: 0.75vw;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vw;
    transition: .1s;
    user-select: none;
    box-shadow: 0px 0.335vh rgb(0, 0, 0, 0.3);
}
.number:hover{
    cursor: pointer;
    transform: translate(0px, -0.335vh);
    box-shadow: 0px 0.670vh rgb(0, 0, 0, 0.3);
    transition: .1s;
}
.number:active{
    transform: translate(0px, 0.335vh);
    box-shadow: 0px 0vh rgb(0, 0, 0, 0);
    background-color: hsl(187, 71%, 60%);
    transition: .1s;
}
.currentPlay{
    margin: 0px;
    padding: 0px;
    margin-top: 25vh;
    font-family: Arial, Helvetica, sans-serif;
}
.confirmButton{
    height: 4.5vh;
    width: 25vh;
    margin-top: 5vh;
}
.contentBlock{
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgb(0, 0, 0, 0.35);
    position: absolute;
    display: none;
}
.blockActive{
    pointer-events: none;
}
.numberRight{
    pointer-events: none;
}
.numberLeft{
    pointer-events: none;
}
.confirmButton{
    pointer-events: none;
}